<h1>Propiedades</h1>

<p>Registrar nueva propiedad</p>

<form #propertyForm = "ngForm" (ngSubmit) = "addProperty(propertyForm.value)">
    <input type="number" name="number" placeholder="Edificio No." ngModel>
    <input type="number" name="apto" placeholder="Apartamento No." ngModel>
    <input type="number" name="customerId" placeholder="Id Cliente" ngModel>
    <input type="submit" value="Guardar">
</form>
<hr/>

<h3>Master Propiedades</h3>
<table class="table table-sm table-striped">
    <tr>
        <th>Edificio</th>
        <th>Apartamento</th>
        <th>Propietario</th>
    </tr>
    <tr *ngFor="let property of properties">
        <td>{{property.number}}</td>
        <td>{{property.apto}}</td>
        <td>{{property.customer.name}}</td>
    </tr>
</table>
