<p>Registrar pago</p>

<form #newPayment = "ngForm" (ngSubmit)= "addPayment(newPayment.value)">
    <input type="number" name="amount" placeholder="Monto" ngModel>
    <input type="date" name="generated" value="{{today | date:'shortDate'}}" readonly>
    <input type="number" name="customerId" placeholder="ID Cliente" ngModel>
    <input type="submit" value="Generar">
</form>

<h4>Pagar</h4>

<form #pay = "ngForm" (ngSubmit) = "payPayment(pay.value)">
    <input type="text" name="id" placeholder="Id del pago" ngModel> 
    <input type="submit" value="Pagar">
</form>

<hr/>
<h4>Historial de pagos</h4>
<form #findForm = "ngForm" (ngSubmit) = "getPaymentsById(findForm.value)">
    <input type="text" name="id" placeholder="Buscar por ID Cliente" ngModel> 
    <input type="submit" value="Buscar">
</form>

<table class="table table-sm table-striped">
    <tr>
        <th>ID</th>
        <th>Monto</th>
        <th>Generado</th>
        <th>Cliente</th>
        <th>Pago</th>
    </tr>
    <tr *ngFor="let payment of payments">
        <td>{{payment.id}}</td>
        <td>{{payment.amount}}</td>
        <td>{{payment.generated | date:'shortDate'}}</td>
        <td>{{payment.customer.name}}</td>
        <td>{{payment.payment}}</td>        
    </tr>
</table>