<h1>Clientes</h1>

<p>Registrar nuevo cliente</p>

<form #customerForm = "ngForm" (ngSubmit) = "addCustomer(customerForm.value)">
    <input type="text" name="name" placeholder="Nombre" ngModel>
    <input type="text" name="phone" placeholder="Telefono" ngModel>
    <input type="text" name="email" placeholder="Email" ngModel>
    <input type="submit" value="Guardar">
</form>
<hr/>

<h3>Master Clientes</h3>
<table class="table table-sm table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Correo</th>
    </tr>
    <tr *ngFor="let customer of customers">
        <td>{{customer.id}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.email}}</td>
    </tr>
</table>
